.THIS.stageContainer {
    float: left;
    margin: 5px;
    min-width: 200px;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.726);
}

.THIS.syncBar {
    background-color: rgba(255, 255, 255, 0.726);
}

.THIS .waves-effect {
    margin: 5px;
}

.THIS .syncTitle {
    font-weight: bold;
    font-size: medium;
}

.THIS .stageTitle {
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
}

.THIS .card {
    margin: 5px;
    min-height: 60px;
    max-height: 60px;
    text-align: left;
}

.THIS .card-title {
    margin-left: 5px;
}

.THIS .dueDate {
    margin-left: 5px;
    font-size: small;
}

.THIS .editIcon {
    position: absolute;
    right: 0px;
    top: 0px;
}

.THIS .userIcon {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.THIS .descIcon {
    margin-left: 5px;
}

.THIS .dateIcon {
    margin-left: 5px;
}

.THIS .createCard {
    min-width: 100%;
}